// 输入
input {
    keyboard {
        numlock
    }
    touchpad {
        tap
        natural-scroll
        accel-speed 0.5
        // accel-profile "flat"
    }
    mouse {
    }
    // warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}
// 输出
output "eDP-1" {
    mode "2560x1600@165.002"
    scale 1.5
    position x=0 y=0
    variable-refresh-rate
    focus-at-startup
}
// 窗口布局
layout {
    gaps 2

    // 当改变焦点时将列居中
    // center-focused-column "on-overflow"

    // 自定义循环切换的宽度。
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    // 自定义循环切换的高度。
    // preset-window-heights { }

    default-column-width { proportion 0.66667; }
    // default-column-width {}

    // 焦点环
    focus-ring {
        //off
        width 2
        active-color "#ffffff4c"
        // 非活动显示器上环的颜色。
        //inactive-color "#c7ff7f"
        //active-gradient from="#80c8ff" to="#c7ff7f" angle=45
    }

    // 边框
    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // 窗口阴影
    shadow {
        //on
        // Softness controls the shadow blur radius.
        softness 30
        // Spread expands the shadow.
        spread 5
        // Offset moves the shadow relative to the window.
        offset x=0 y=5
        // You can also change the shadow color and opacity.
        color "#0007"
    }

    // Struts 会缩小窗口占用的区域，类似于 layer-shell 面板。
    struts {
        // left 5
        // right 5
        // top 10
        // bottom 10
    }
}
// 快捷键
binds {
    // 如果您需要pipes、多个命令等，请使用 spawn-sh 来运行 shell 命令。整个命令作为单个参数。它按原样传递给 `sh -c`。
    // Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.03+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    //Mod+P hotkey-overlay-title="Lock the Screen" { spawn-sh "~/.local/share/quickshell-lockscreen/lock.sh"; }

    Mod+X hotkey-overlay-title="Open Terminal" { spawn "kitty"; }

    Mod+C hotkey-overlay-title="Open firefox" { spawn "firefox"; }

    Mod+Shift+Slash { show-hotkey-overlay; }

    // 切换键位抑制的脱离键
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // 打开/关闭概览
    Mod+O repeat=false { toggle-overview; }

    // 关闭窗口
    Mod+Q repeat=false { close-window; }

    // 居中
    //Mod+C { center-column; }
    // 将屏幕上完全可见的列居中。
    //Mod+Ctrl+C { center-visible-columns; }

   // 浮动布局
    Mod+Y      { toggle-window-floating; }
    Mod+Shift+Y { switch-focus-between-floating-and-tiling; }

   //列标签显示模式
    // Mod+O { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

   // quit
    Mod+Shift+O { quit; }
    Ctrl+Alt+Delete { quit; }

   // 关闭显示器电源
    Mod+Shift+P                                       { power-off-monitors; }

    Mod+Tab                                           { focus-workspace-previous; }
    Mod+Space                                         { focus-window-previous;  }

   // 窗口最大化
    Mod+F                                             { maximize-column; }
    Mod+M                                             { fullscreen-window;  }
    Mod+Ctrl+F                                        { expand-column-to-available-width; }
    Mod+Shift+F                                       { maximize-window-to-edges; }

   // 宽度调整
    Mod+Minus                                         { set-column-width "-10%"; }
    Mod+Equal                                         { set-column-width "+10%"; }

   // 高度调整
    Mod+Shift+Minus                                   { set-window-height "-10%"; }
    Mod+Shift+Equal                                   { set-window-height "+10%"; }

   // 切换预设的宽度
    Mod+E                                             { switch-preset-column-width; }
    Mod+Ctrl+E                                        { switch-preset-column-width-back; }

   // 切换预设的高度
    Mod+Shift+E                                       { switch-preset-window-height; }
    Mod+Shift+Ctrl+E                                  { reset-window-height; }

    Mod+1                                             { focus-workspace 1; }
    Mod+2                                             { focus-workspace 2; }
    Mod+3                                             { focus-workspace 3; }
    Mod+4                                             { focus-workspace 4; }
    Mod+5                                             { focus-workspace 5; }
    Mod+6                                             { focus-workspace 6; }
    Mod+7                                             { focus-workspace 7; }
    Mod+8                                             { focus-workspace 8; }
    Mod+9                                             { focus-workspace 9; }
    Mod+Ctrl+1                                        { move-column-to-workspace 1; }
    Mod+Ctrl+2                                        { move-column-to-workspace 2; }
    Mod+Ctrl+3                                        { move-column-to-workspace 3; }
    Mod+Ctrl+4                                        { move-column-to-workspace 4; }
    Mod+Ctrl+5                                        { move-column-to-workspace 5; }
    Mod+Ctrl+6                                        { move-column-to-workspace 6; }
    Mod+Ctrl+7                                        { move-column-to-workspace 7; }
    Mod+Ctrl+8                                        { move-column-to-workspace 8; }
    Mod+Ctrl+9                                        { move-column-to-workspace 9; }

   // 聚焦
    Mod+Right                                         { focus-column-right; }
    Mod+Left                                          { focus-column-left; }
    Mod+Down                                          { focus-workspace-down; }
    Mod+Up                                            { focus-workspace-up; }

    Mod+J                                             { focus-column-right; } 
    Mod+K                                             { focus-column-left; }
    Mod+L                                             { focus-workspace-down; }
    Mod+H                                             { focus-workspace-up; }

    Mod+D                                             { focus-column-right; }
    Mod+A                                             { focus-column-left; }
    Mod+S                                             { focus-workspace-down; }
    Mod+W                                             { focus-workspace-up; }

    Mod+WheelScrollDown                               { focus-column-right; }
    Mod+WheelScrollUp                                 { focus-column-left; }
    Mod+MouseForward                                  { focus-workspace-up; }
    Mod+MouseBack                                     { focus-workspace-down; }

   // 移动
    Mod+Ctrl+Right                                    { move-column-right; }
    Mod+Ctrl+Left                                     { move-column-left; }
    Mod+Ctrl+Down                                     { move-column-to-workspace-down; }
    Mod+Ctrl+Up                                       { move-column-to-workspace-up; }

    Mod+Ctrl+J                                        { move-column-right; }
    Mod+Ctrl+K                                        { move-column-left; }
    Mod+Ctrl+L                                        { move-column-to-workspace-down; }
    Mod+Ctrl+H                                        { move-column-to-workspace-up; }

    Mod+Ctrl+D                                        { move-column-right; }
    Mod+Ctrl+A                                        { move-column-left; }
    Mod+Ctrl+S                                        { move-column-to-workspace-down; }
    Mod+Ctrl+W                                        { move-column-to-workspace-up;  }

    Mod+Ctrl+WheelScrollDown                          { move-column-right; }
    Mod+Ctrl+WheelScrollUp                            { move-column-left; }
    Mod+Ctrl+MouseBack                                { move-column-to-workspace-down; }
    Mod+Ctrl+MouseForward                             { move-column-to-workspace-up; }

   // 多显示器聚焦
    Mod+Shift+Right                                   { focus-monitor-right; }
    Mod+Shift+Left                                    { focus-monitor-left; }
    Mod+Shift+Down                                    { focus-monitor-down; }
    Mod+Shift+Up                                      { focus-monitor-up; }

    Mod+Shift+L                                       { focus-monitor-right; }
    Mod+Shift+H                                       { focus-monitor-left; }
    Mod+Shift+J                                       { focus-monitor-down; }
    Mod+Shift+K                                       { focus-monitor-up; }

    Mod+Shift+D                                       { focus-monitor-right; }
    Mod+Shift+A                                       { focus-monitor-left; }
    Mod+Shift+S                                       { focus-monitor-down; }
    Mod+Shift+W                                       { focus-monitor-up; }

    Mod+Shift+WheelScrollDown                         { focus-monitor-right; }
    Mod+Shift+WheelScrollUp                           { focus-monitor-left; }
    Mod+Shift+MouseForward                            { focus-monitor-down; }
    Mod+Shift+MouseBack                               { focus-monitor-up; }

   // 多显示器移动
    Mod+Shift+Ctrl+Left                               { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down                               { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up                                 { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right                              { move-column-to-monitor-right; }

    Mod+Shift+Ctrl+L                                  { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H                                  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J                                  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K                                  { move-column-to-monitor-up; }

    Mod+Shift+Ctrl+D                                  { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+A                                  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+S                                  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+W                                  { move-column-to-monitor-up;  }

    Mod+Shift+Ctrl+WheelScrollDown                    { move-column-right; }
    Mod+Shift+Ctrl+WheelScrollUp                      { move-column-left; }
    Mod+Shift+Ctrl+MouseBack                          { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+MouseForward                       { move-column-to-monitor-up; }

   // 将焦点窗口移入和移出列
    Mod+BracketLeft                                   { consume-or-expel-window-left; }
    Mod+BracketRight                                  { consume-or-expel-window-right; }

   // Consume one window from the right to the bottom of the focused column.
    Mod+Comma                                         { consume-window-into-column; }
   // Expel the bottom window from the focused column to the right.
    Mod+Period                                        { expel-window-from-column; }

   // 其它
    Mod+I                                             { focus-workspace-down; }
    Mod+U                                             { focus-workspace-up; }

    Mod+Ctrl+I                                        { move-workspace-down; }
    Mod+Ctrl+U                                        { move-workspace-up; }

    Mod+Shift+Ctrl+I                                  { move-workspace-to-monitor-down; }
    Mod+Shift+Ctrl+U                                  { move-workspace-to-monitor-up; }

}

// 其它
animations {
    //窗口打开的动画，从屏幕顶部下落且伴有回弹效果
    window-open {
        spring damping-ratio=0.6 stiffness=600 epsilon=0.001

        custom-shader r"
            vec4 open_color(vec3 coords_geo, vec3 size_geo) {
                float p = niri_progress;
                float y_offset = (1.0 - p) * 0.3;
                vec3 moved_coords = vec3(coords_geo.x, coords_geo.y + y_offset, 1.0);
                vec3 coords_tex = niri_geo_to_tex * moved_coords;
                vec4 color = texture2D(niri_tex, coords_tex.st);
                if (coords_geo.y < 0.0 || coords_geo.y > 1.0 || coords_geo.x < 0.0 || coords_geo.x > 1.0) {
                    color = vec4(0.0);
                }

                return color * niri_clamped_progress;
            }
        "
    }

    //窗口关闭的动画，先溶解后下落
    window-close {
        duration-ms 700 
        curve "linear"    

        custom-shader r"
            float rand(vec2 co){
                return fract(sin(dot(co.xy ,vec2(12.9898,78.233))) * 43758.5453);
            }
            vec4 close_color(vec3 coords_geo, vec3 size_geo) {
                float p = niri_clamped_progress;
                float noise = rand(coords_geo.xy * 30.0);
                if (noise < (p * 1.5 - (1.0 - coords_geo.y) * 0.2)) {
                    return vec4(0.0);
                }
                //前20%的时间溶解，然后再下落
                float drop_p = max(0.0, p - 0.2) / 0.8;
                float gravity = pow(drop_p, 3.0) * 4.0;
                float spread = (noise - 0.5) * gravity * 0.1;
                vec3 moved_coords = vec3(coords_geo.x + spread, coords_geo.y - gravity, 1.0);
                vec3 coords_tex = niri_geo_to_tex * moved_coords;
                vec4 color = texture2D(niri_tex, coords_tex.st);

                if (moved_coords.y < 0.0 || moved_coords.y > 1.0 || moved_coords.x < 0.0 || moved_coords.x > 1.0) {
                    return vec4(0.0);
                }

                return color * (1.0 - p);
            }
        "
    }

    //窗口大小发生变化的动画
    window-resize {
        spring damping-ratio=0.7 stiffness=800 epsilon=0.0001

    	custom-shader r"
            vec4 resize_color(vec3 coords_curr_geo, vec3 size_curr_geo) {
                vec3 coords_tex_next = niri_geo_to_tex_next * coords_curr_geo;
                vec4 color = texture2D(niri_tex_next, coords_tex_next.st);
                return color;
            }
        "
    }

    //窗口位置发生变动的动画    
    window-movement {
        spring damping-ratio=0.7 stiffness=800 epsilon=0.00001
    }

    //视角平移的动画
    horizontal-view-movement {
    	spring damping-ratio=1.0 stiffness=600 epsilon=0.00001
    }

    //工作区切换的动画
    workspace-switch {
    	spring damping-ratio=0.7 stiffness=600 epsilon=0.0001
    }
}

hotkey-overlay {
    skip-at-startup
}

gestures {
    hot-corners {
        bottom-right
    }
}

blur {
    passes 1
    offset 3
    noise 0.02
    saturation 1.5
}

prefer-no-csd
screenshot-path "~/图片/屏幕截图/%Y-%m-%d %H-%M-%S.png"

// 窗口规则
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"steam_app_1174180$"# title="^Rockstar Games Launcher$"
    open-floating true
}

window-rule {
    match app-id="firefox$"
    default-column-width { proportion 0.8; }
}

window-rule {
    match app-id="looking-glass-client$"
    default-column-width { proportion 1.0; }
}

window-rule {
    match app-id=r#"steam$"# title="^好友列表|FriendList$"
    default-column-width { proportion 0.25; }
}

window-rule {
    match app-id="org.opengamingcollective.rog-control-center$"
    default-column-width { proportion 0.6; }
   default-window-height { proportion 0.6; }
}

window-rule {
    match app-id="QQ$"
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id=r#"QQ$"# title="^天气$"
    open-focused false
}

window-rule {
    match app-id=r#"Thunar$"# title="^重命名"
    open-floating true
}

window-rule {
    match app-id=r#"thunar$"# title="^重命名"
    open-floating true
}

window-rule {
    match app-id=r#"folia$"# title="Folia Remote"
    open-focused false
    open-floating true
}

window-rule {
    match app-id=r#"Pinentry-gtk$"#
    open-floating true
}

window-rule {
    match app-id=r#"kitty$"#
    background-effect {
//        blur false
        xray false
    }
}

window-rule {
    match app-id="^folia$"
    open-maximized-to-edges true
    draw-border-with-background false
    clip-to-geometry false
    focus-ring {
        off
    }
    background-effect {
        blur false
        xray false
    }
}

layer-rule {
    match namespace=r#"^dms:.*"#
    opacity 0.99
    background-effect {
        xray false
        noise 0.02
    }
}

layer-rule {
    match namespace="^dms:blurwallpaper$"
    place-within-backdrop true
}

cursor {
    xcursor-theme "Breeze_Light"
    xcursor-size 24
}

include "dms/binds.kdl"
include "dms/outputs.kdl"
